Lamp/Node-REDflow_lamp.txt
[{"id":"7e325ce2.787a24","type":"tab","label":"Lampu","disabled":false,"info":""},{"id":"1ac3c273.d8326e","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["828112bd.9d706","c5a00ebb.ff84d","fcd4fd77.eeb0a","35bb721a.697f2e","5f6a2f2c.ac1fc","3624e6ba.b4f8fa","7a472426.996b0c","b0227bf8.d31c18","d78b69b7.1793e8","a3c2e254.b8aa3","e6a12f25.ea9c6","53009c2d.73e704","bab0641e.686b38","48af8f42.f5577"],"x":44,"y":1179,"w":1922,"h":262},{"id":"1f1294f3.59125b","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6c996291.6a433c","1dfa70dd.c5844f","c17f4b60.7743e8","3575d1d4.ab925e","9c651fc.8f9c2e","cce0bde0.d9666","4700a505.0556cc","ef87c0c8.dfb3d","d85dd2e1.dd68d","e199f1ac.a656c","84093f7c.15f89","18322cfc.2d6f53","e577eef2.b3eee","c6cd4677.4b2878"],"x":44,"y":1479,"w":1942,"h":262},{"id":"33a0bd84.4abec2","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["618d6635.a34588","2fc9b6fc.98beca","a4e395d5.a9e0c8","f615d6fa.894af8","14d1188d.3a14a7","8f7adadb.ed50b8","54142ba0.2b3444","229b21f4.c8defe","18d204dd.a199eb","bb157302.fd80a","88fb7256.efad1","cd1209fe.2b10e8","7d860671.613828"],"x":44,"y":679,"w":1912,"h":202},{"id":"4e01ecf5.8c22c4","type":"group","z":"7e325ce2.787a24","name":"","style":{"label":true},"nodes":["4e14c509.ab8b8c","3ccdca7a.74f966","5a7d3851.ed9f48","7ff65233.0d304c","e16e0189.e9846","31a9455f.3109da","c4fac103.b9017"],"x":44,"y":39,"w":1452,"h":142},{"id":"66faf6e.f181b08","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["22863cb3.bcca74","20c13e09.30be12","f57757ee.6b3198","ccf54232.b98d2","f0e23f92.cf8b3","3053b619.59575a","2f9cb85.8d4ae48"],"x":44,"y":199,"w":1422,"h":142},{"id":"ab939516.852268","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cd621513.506598","299f9a9f.b2b406","9f783af7.6c15d8","56f55dc0.ce5894","9c0bb0ab.715ae","6d45e750.099908","3789d98e.5863c6","e01adb75.cd76d8","d28e8e0a.693f7","1f4bf25c.a030be","85f25090.e8a1f","bcca3c4d.2addb"],"x":44,"y":899,"w":1712,"h":262},{"id":"c561e823.0940f8","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["76de8cef.146bd4","153f5b4d.eb8d25","82895bc3.4ef1c8","f0be26ce.201d48","75a79a0f.ac14a4","d658aaa6.ac5138","a1c02604.dcce98","a6aa31a2.be639","96d75d23.e3bad","13fbf647.f909ba","27fea146.7c92be","ad925133.80a62","1ed6f12a.55b18f","b06f5006.a6e42","84db6655.4044a8","aa17b33d.9d267","2c8e3205.59520e","c357748b.da1668","e4a0dc4.182f12","75c5a572.3bafbc","8f2abde9.bb264","48ef1364.b7fe3c"],"x":44,"y":359,"w":1332,"h":302},{"id":"d542f5d9.1fc868","type":"group","z":"7e325ce2.787a24","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7e86cdd.b93b034","26bb3de8.fce032","a8849f14.07386","cc3d5684.392938","1d5702f4.c09b0d","e1727bf.ec1fc88","f10c91c4.a86dc","56838f53.da09a","9cf1d677.604488","18c315a6.49901a","f31462ee.5ab1e","5869e368.255a0c","d93de2e4.a72fa","4db56d9a.74a394","b0057849.6b7548","84699cf4.2f86"],"x":46,"y":1759,"w":1842,"h":262},{"id":"f7a7a12e.9b57c","type":"influxdb out","z":"7e325ce2.787a24","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"power_MF","precision":"","retentionPolicy":"","x":1750,"y":1260,"wires":[]},{"id":"d458dc7a.731ed","type":"influxdb out","z":"7e325ce2.787a24","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"power_MFMA","precision":"","retentionPolicy":"","x":1740,"y":1560,"wires":[]},{"id":"504614e8.22aadc","type":"function","z":"7e325ce2.787a24","name":"get Power Time","func":"var power = msg.payload;\nvar time = [ ];\n\nfor (i=0; i<power.length; i++){\n    time[i] = (new Date(power[i].time).getTime())*1000000;\n}\nflow.set('time', time);\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1400,"wires":[[]]},{"id":"9653aa25.03ed98","type":"function","z":"7e325ce2.787a24","name":"get Power Time","func":"var power = msg.payload;\nvar time = [ ];\n\nfor (i=0; i<power.length; i++){\n    time[i] = (new Date(power[i].time).getTime())*1000000;\n}\nflow.set('time', time);\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1700,"wires":[[]]},{"id":"cd621513.506598","type":"function","z":"7e325ce2.787a24","g":"ab939516.852268","name":"get Power Value","func":"var power = msg.payload;\nfor (i=0; i<power.length; i++){\n    power[i] = power[i].power;\n}\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1060,"wires":[["d28e8e0a.693f7"]]},{"id":"299f9a9f.b2b406","type":"influxdb in","z":"7e325ce2.787a24","g":"ab939516.852268","influxdb":"bbd3c19e.bc5c9","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":590,"y":1060,"wires":[["9c0bb0ab.715ae","cd621513.506598"]]},{"id":"9f783af7.6c15d8","type":"function","z":"7e325ce2.787a24","g":"ab939516.852268","name":"Get Power","func":"msg.query = \"SELECT * FROM test_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1060,"wires":[["299f9a9f.b2b406"]]},{"id":"56f55dc0.ce5894","type":"inject","z":"7e325ce2.787a24","g":"ab939516.852268","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":1060,"wires":[["9f783af7.6c15d8"]]},{"id":"9c0bb0ab.715ae","type":"function","z":"7e325ce2.787a24","g":"ab939516.852268","name":"get Power Time","func":"var power = msg.payload;\nvar time = [ ];\n\nfor (i=0; i<power.length; i++){\n    time[i] = (new Date(power[i].time).getTime())*1000000;\n}\nflow.set('time', time);\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1120,"wires":[[]]},{"id":"6d45e750.099908","type":"influxdb out","z":"7e325ce2.787a24","g":"ab939516.852268","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"predicted_state_minimasi","precision":"","retentionPolicy":"","x":1530,"y":1060,"wires":[]},{"id":"3789d98e.5863c6","type":"json","z":"7e325ce2.787a24","g":"ab939516.852268","name":"","property":"payload","action":"","pretty":false,"x":1200,"y":1060,"wires":[["6d45e750.099908","e01adb75.cd76d8"]]},{"id":"e01adb75.cd76d8","type":"debug","z":"7e325ce2.787a24","g":"ab939516.852268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":1120,"wires":[]},{"id":"d28e8e0a.693f7","type":"function","z":"7e325ce2.787a24","g":"ab939516.852268","name":"Minimasi","func":"var powerIn = msg.payload;\nvar lampPower = flow.get('lampPower');\nvar time = flow.get('time');\nvar delta = [ ];\nvar i, j, index;\nvar lamp = [0,0,0,0,0];\nvar result = [ ];\nvar nyala = [ ];\nvar state = [0,0,0,0,0]\nvar deltastate = [ ];\nvar min;\nvar buffer = \"[\\n\";\n\nfor (i=0; i<powerIn.length; i++) {\n    for (j=0; j<32; j++){\n        deltastate[j] = Math.abs(state[0]-(j&0x01))+Math.abs(state[1]-((j>>1)&0x01))+Math.abs(state[2]-((j>>2)&0x01))+Math.abs(state[3]-((j>>3)&0x01))+Math.abs(state[4]-((j>>4)&0x01));\n        delta[j] = Math.abs(powerIn[i]-lampPower[j]);\n    }\n    min = delta[0];\n    for (j=1; j<32; j++) {\n        if ((min>delta[j]) && (deltastate[j]<=1)) {\n            min = delta[j];\n            index = j;\n        }\n    }\n    lamp[0] = (index&0x01);\n    lamp[1] = ((index>>1)&0x01);\n    lamp[2] = ((index>>2)&0x01);\n    lamp[3] = ((index>>3)&0x01);\n    lamp[4] = ((index>>4)&0x01);\n    nyala[i] =  lamp;\n    result[i] = {'time':time[i], 'Lampu 1':nyala[i][0], 'Lampu 2': nyala[i][1], 'Lampu 3': nyala[i][2], 'Lampu 4': nyala[i][3], 'Lampu 5': nyala[i][4]};\n    buffer += \"[ \\n{ \\n\\\"time\\\":\" + time[i] + \", \\\"Lampu 1\\\":\" + nyala[i][0] + \", \\\"Lampu 2\\\":\" + nyala[i][1] + \", \\\"Lampu 3\\\":\" + nyala[i][2]+ \", \\\"Lampu 4\\\":\" + nyala[i][3] + \", \\\"Lampu 5\\\":\" + nyala[i][4] + \" \\n} \\n],\";\n    state = nyala[i];\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1060,"wires":[["3789d98e.5863c6"]]},{"id":"1f4bf25c.a030be","type":"inject","z":"7e325ce2.787a24","g":"ab939516.852268","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1000,"wires":[["85f25090.e8a1f"]]},{"id":"85f25090.e8a1f","type":"function","z":"7e325ce2.787a24","g":"ab939516.852268","name":"Lamp Power","func":"var lampPower = [ ];\nvar l1 = 60;\nvar l2 = 102.45;\nvar l3 = 207.02;\nvar l4 = 25.5;\nvar l5 = 6.84;\nvar sum;\nfor (i=0; i<32; i++){\n    sum = 0;\n    sum += (i&0x01)*l1;\n    sum += ((i>>1)&0x01)*l2;\n    sum += ((i>>2)&0x01)*l3;\n    sum += ((i>>3)&0x01)*l4;\n    sum += ((i>>4)&0x01)*l5;\n    lampPower[i] = sum;\n}\nmsg.payload = lampPower;\nflow.set('lampPower', lampPower);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1000,"wires":[[]]},{"id":"bcca3c4d.2addb","type":"comment","z":"7e325ce2.787a24","g":"ab939516.852268","name":"Test Minimasi","info":"","x":140,"y":940,"wires":[]},{"id":"7e86cdd.b93b034","type":"inject","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":152,"y":1920,"wires":[["1d5702f4.c09b0d"]]},{"id":"26bb3de8.fce032","type":"function","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Get Power","func":"var dataPower = msg.payload;\nvar buffPower = '';      //untuk delay buf nol\nvar buffTime = '';\nvar model = global.get('model');\n            \nfor (i=0;i<dataPower.length;i++) {\n    buffPower+=dataPower[i].power + ',';       //pemisah nilai dengan koma\n}\nbuffPower = buffPower.slice(0,buffPower.length-1);    //menghapus koma terakhir\n\ndata = \"{\\\"modelLampu\\\" : \" + model + \",\\\"powerTest\\\" : \\\"\"  + buffPower + \"\\\"}\";\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":822,"y":1920,"wires":[["a8849f14.07386"]]},{"id":"a8849f14.07386","type":"pythonshell in","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Decoding","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtest_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1012,"y":1920,"wires":[["18c315a6.49901a","4db56d9a.74a394"]]},{"id":"cc3d5684.392938","type":"comment","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Test FHMM 10 min","info":"","x":162,"y":1800,"wires":[]},{"id":"1d5702f4.c09b0d","type":"function","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Get Power","func":"t = flow.get('t')\nmsg.query = 'SELECT * FROM test_power WHERE time >' + t +'-5m AND time <=' + t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":342,"y":1920,"wires":[["e1727bf.ec1fc88"]]},{"id":"e1727bf.ec1fc88","type":"influxdb in","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","influxdb":"bbd3c19e.bc5c9","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":592,"y":1920,"wires":[["56838f53.da09a","26bb3de8.fce032"]]},{"id":"f10c91c4.a86dc","type":"json","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"","property":"payload","action":"","pretty":false,"x":1442,"y":1920,"wires":[["9cf1d677.604488"]]},{"id":"56838f53.da09a","type":"function","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Get Time","func":"var dataPower = msg.payload;\nvar buffTime = \" \";\n\nfor (i=0;i<dataPower.length;i++) {\n    buffTime+=(new Date(dataPower[i].time).getTime())*1000000 + ',';       //pemisah nilai dengan koma\n}\n\nbuffTime = buffTime.slice(0,buffTime.length-1);    //menghapus koma terakhir\n\nflow.set('buffTime',buffTime);\n\nt = flow.get('t')+300000000000;\nflow.set('t', t);\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":812,"y":1980,"wires":[["d93de2e4.a72fa"]]},{"id":"9cf1d677.604488","type":"influxdb out","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"power_fail","precision":"","retentionPolicy":"","x":1712,"y":1920,"wires":[]},{"id":"18c315a6.49901a","type":"function","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Get Predicted Power","func":"var power = msg.payload;\nvar time = flow.get('buffTime');\n\ndata = JSON.parse(\"{\\\"time\\\" : [\" + time + \"], \" + power);\n\nn = data['time'].length;\nbuffer = \"[\\n\"\n\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + data['time'][i] +\n                \", \\\"Lampu 1\\\":\" + data['power']['powerL1'][i] + \n                \", \\\"Lampu 2\\\":\" + data['power']['powerL2'][i] + \n                \", \\\"Lampu 3\\\":\" + data['power']['powerL3'][i] + \n                \", \\\"Lampu 4\\\":\" + data['power']['powerL4'][i] + \n                \", \\\"Lampu 5\\\":\" + data['power']['powerL5'][i] +\n                \", \\\"Total\\\":\" + data['power']['total'][i] + \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1252,"y":1920,"wires":[["f10c91c4.a86dc"]]},{"id":"f31462ee.5ab1e","type":"function","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Time","func":"flow.set('t', 1584172030000000000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":322,"y":1860,"wires":[[]]},{"id":"5869e368.255a0c","type":"inject","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":152,"y":1860,"wires":[["f31462ee.5ab1e"]]},{"id":"d93de2e4.a72fa","type":"debug","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":992,"y":1980,"wires":[]},{"id":"4db56d9a.74a394","type":"function","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"Get Predicted State","func":"var power = msg.payload;\nvar time = flow.get('buffTime');\n\ndata = JSON.parse(\"{\\\"time\\\" : [\" + time + \"], \" + power);\n\nn = data['time'].length;\nbuffer = \"[\\n\"\n\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + data['time'][i] +\n                \", \\\"Lampu 1\\\":\" + data['state']['stateL1'][i] + \n                \", \\\"Lampu 2\\\":\" + data['state']['stateL2'][i] + \n                \", \\\"Lampu 3\\\":\" + data['state']['stateL3'][i] + \n                \", \\\"Lampu 4\\\":\" + data['state']['stateL4'][i] + \n                \", \\\"Lampu 5\\\":\" + data['state']['stateL5'][i] + \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1242,"y":1960,"wires":[["b0057849.6b7548"]]},{"id":"b0057849.6b7548","type":"json","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","name":"","property":"payload","action":"","pretty":false,"x":1442,"y":1960,"wires":[["84699cf4.2f86"]]},{"id":"84699cf4.2f86","type":"influxdb out","z":"7e325ce2.787a24","g":"d542f5d9.1fc868","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"state_fail","precision":"","retentionPolicy":"","x":1702,"y":1960,"wires":[]},{"id":"4e14c509.ab8b8c","type":"file in","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","name":"","filename":"D:\\15. DERARA\\4. Data\\TrainLamp.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["31a9455f.3109da"]]},{"id":"3ccdca7a.74f966","type":"inject","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","name":"Injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"25","topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["4e14c509.ab8b8c"]]},{"id":"5a7d3851.ed9f48","type":"json","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","name":"","property":"payload","action":"","pretty":false,"x":1020,"y":140,"wires":[["e16e0189.e9846"]]},{"id":"7ff65233.0d304c","type":"function","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","name":"","func":"var data = msg.payload;\nvar n = data.length;\nvar buffer = \"[\\n\";\n\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + data[i].time +\n                \", \\\"Lampu 1\\\":\" + data[i].L1 + \n                \", \\\"Lampu 2\\\":\" + data[i].L2 + \n                \", \\\"Lampu 3\\\":\" + data[i].L3 + \n                \", \\\"Lampu 4\\\":\" + data[i].L4 + \n                \", \\\"Lampu 5\\\":\" + data[i].L5 + \" } \\n],\"\n}\n\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\"; \n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":140,"wires":[["5a7d3851.ed9f48"]]},{"id":"e16e0189.e9846","type":"influxdb out","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"train_power","precision":"","retentionPolicy":"","x":1310,"y":140,"wires":[]},{"id":"31a9455f.3109da","type":"csv to json ext","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":680,"y":140,"wires":[["7ff65233.0d304c"]]},{"id":"c4fac103.b9017","type":"comment","z":"7e325ce2.787a24","g":"4e01ecf5.8c22c4","name":"Input data train lampu","info":"Menginput data train berisi daya setiap lampu ke dalam database","x":170,"y":80,"wires":[]},{"id":"76de8cef.146bd4","type":"pythonshell in","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Train Lamp 1","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtrain_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1060,"y":460,"wires":[["b06f5006.a6e42"]]},{"id":"153f5b4d.eb8d25","type":"inject","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":460,"wires":[["82895bc3.4ef1c8"]]},{"id":"82895bc3.4ef1c8","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Get Power All Lamps","func":"msg.query = 'SELECT * FROM train_power' ; // \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":460,"wires":[["f0be26ce.201d48"]]},{"id":"f0be26ce.201d48","type":"influxdb in","z":"7e325ce2.787a24","g":"c561e823.0940f8","influxdb":"bbd3c19e.bc5c9","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":460,"wires":[["75a79a0f.ac14a4","a6aa31a2.be639","13fbf647.f909ba","ad925133.80a62","d658aaa6.ac5138"]]},{"id":"75a79a0f.ac14a4","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Lampu 1","func":"var dataPower = msg.payload;\nvar buf = '';      //untuk delay buf nol\nfor (i=0;i<dataPower.length;i++)\n{\n    buf+=dataPower[i]['Lampu 1'] + ',';       //pemisah nilai dengan koma\n}\nbuf = buf.slice(0,buf.length-1);    //menghapus koma terakhir\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":460,"wires":[["76de8cef.146bd4"]]},{"id":"d658aaa6.ac5138","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Lampu 5","func":"var dataPower = msg.payload;\nvar buf = '';      //untuk delay buf nol\nfor (i=0;i<dataPower.length;i++)\n{\n    buf+=dataPower[i]['Lampu 5'] + ',';       //pemisah nilai dengan koma\n}\nbuf = buf.slice(0,buf.length-1);    //menghapus koma terakhir\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":620,"wires":[["a1c02604.dcce98"]]},{"id":"a1c02604.dcce98","type":"pythonshell in","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Train Lamp 5","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtrain_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1060,"y":620,"wires":[["48ef1364.b7fe3c"]]},{"id":"a6aa31a2.be639","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Lampu 2","func":"var dataPower = msg.payload;\nvar buf = '';      //untuk delay buf nol\nfor (i=0;i<dataPower.length;i++)\n{\n    buf+=dataPower[i]['Lampu 2'] + ',';       //pemisah nilai dengan koma\n}\nbuf = buf.slice(0,buf.length-1);    //menghapus koma terakhir\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":500,"wires":[["96d75d23.e3bad"]]},{"id":"96d75d23.e3bad","type":"pythonshell in","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Train Lamp 2","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtrain_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1060,"y":500,"wires":[["e4a0dc4.182f12"]]},{"id":"13fbf647.f909ba","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Lampu 3","func":"var dataPower = msg.payload;\nvar buf = '';      //untuk delay buf nol\nfor (i=0;i<dataPower.length;i++)\n{\n    buf+=dataPower[i]['Lampu 3'] + ',';       //pemisah nilai dengan koma\n}\nbuf = buf.slice(0,buf.length-1);    //menghapus koma terakhir\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":540,"wires":[["27fea146.7c92be"]]},{"id":"27fea146.7c92be","type":"pythonshell in","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Train Lamp 3","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtrain_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1060,"y":540,"wires":[["75c5a572.3bafbc"]]},{"id":"ad925133.80a62","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Lampu 4","func":"var dataPower = msg.payload;\nvar buf = '';      //untuk delay buf nol\nfor (i=0;i<dataPower.length;i++)\n{\n    buf+=dataPower[i]['Lampu 4'] + ',';       //pemisah nilai dengan koma\n}\nbuf = buf.slice(0,buf.length-1);    //menghapus koma terakhir\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":580,"wires":[["1ed6f12a.55b18f"]]},{"id":"1ed6f12a.55b18f","type":"pythonshell in","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Train Lamp 4","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtrain_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1060,"y":580,"wires":[["8f2abde9.bb264"]]},{"id":"b06f5006.a6e42","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Model Lampu 1","func":"var model = msg.payload;\nglobal.set('modelL1', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":460,"wires":[[]]},{"id":"84db6655.4044a8","type":"inject","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":580,"wires":[["aa17b33d.9d267"]]},{"id":"aa17b33d.9d267","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"All Models","func":"var modelLampu = {\"Lampu 1\" : global.get('modelL1'),\n            \"Lampu 2\" : global.get('modelL2'),\n            \"Lampu 3\" : global.get('modelL3'),\n            \"Lampu 4\" : global.get('modelL4'),\n            \"Lampu 5\" : global.get('modelL5')};\n\nvar model = \"{\\\"Lampu 1\\\" : \" + global.get('modelL1') +\n            \",\\\"Lampu 2\\\" : \" + global.get('modelL2') +\n            \",\\\"Lampu 3\\\" : \" + global.get('modelL3') +\n            \",\\\"Lampu 4\\\" : \" + global.get('modelL4') +\n            \",\\\"Lampu 5\\\" : \" + global.get('modelL5') + \"}\"\n            \nglobal.set('model', model);\nmsg.payload = model;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":580,"wires":[["2c8e3205.59520e"]]},{"id":"2c8e3205.59520e","type":"debug","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"c357748b.da1668","type":"comment","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Train FHMM","info":"Learning FHMM dari daya setiap lampunya, menghasilkan model tiap lampu\nModel kemudian di set sebagai variabel global","x":140,"y":400,"wires":[]},{"id":"e4a0dc4.182f12","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Model Lampu 2","func":"var model = msg.payload;\nglobal.set('modelL2', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":500,"wires":[[]]},{"id":"75c5a572.3bafbc","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Model Lampu 3","func":"var model = msg.payload;\nglobal.set('modelL3', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":540,"wires":[[]]},{"id":"8f2abde9.bb264","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Model Lampu 4","func":"var model = msg.payload;\nglobal.set('modelL4', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":580,"wires":[[]]},{"id":"48ef1364.b7fe3c","type":"function","z":"7e325ce2.787a24","g":"c561e823.0940f8","name":"Model Lampu 5","func":"var model = msg.payload;\nglobal.set('modelL5', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":620,"wires":[[]]},{"id":"6c996291.6a433c","type":"function","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"get Power Value","func":"var power = msg.payload;\nfor (i=0; i<power.length; i++){\n    power[i] = power[i].power;\n}\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1640,"wires":[["18322cfc.2d6f53"]]},{"id":"1dfa70dd.c5844f","type":"influxdb in","z":"7e325ce2.787a24","g":"1f1294f3.59125b","influxdb":"bbd3c19e.bc5c9","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":570,"y":1640,"wires":[["6c996291.6a433c","9653aa25.03ed98"]]},{"id":"c17f4b60.7743e8","type":"function","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Get Power","func":"msg.query = \"SELECT * FROM test_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1640,"wires":[["1dfa70dd.c5844f"]]},{"id":"3575d1d4.ab925e","type":"inject","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":1640,"wires":[["c17f4b60.7743e8"]]},{"id":"9c651fc.8f9c2e","type":"influxdb out","z":"7e325ce2.787a24","g":"1f1294f3.59125b","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"predicted_state_MAMF","precision":"","retentionPolicy":"","x":1770,"y":1640,"wires":[]},{"id":"cce0bde0.d9666","type":"debug","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1640,"y":1700,"wires":[]},{"id":"4700a505.0556cc","type":"function","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Minimasi","func":"var powerIn = msg.payload.power;\nvar lampPower = flow.get('lampPower');\nvar time = flow.get('time');\nvar delta = [ ];\nvar i, j, index;\nvar lamp = [0,0,0,0,0];\nvar result = [ ];\nvar nyala = [ ];\nvar state = [0,0,0,0,0]\nvar deltastate = [ ];\nvar min;\nvar buffer = \"[\\n\";\n\nfor (i=0; i<powerIn.length; i++) {\n    for (j=0; j<32; j++){\n        deltastate[j] = Math.abs(state[0]-(j&0x01))+Math.abs(state[1]-((j>>1)&0x01))+Math.abs(state[2]-((j>>2)&0x01))+Math.abs(state[3]-((j>>3)&0x01))+Math.abs(state[4]-((j>>4)&0x01));\n        delta[j] = Math.abs(powerIn[i]-lampPower[j]);\n    }\n    min = delta[0];\n    for (j=1; j<32; j++) {\n        if ((min>delta[j]) && (deltastate[j]<=1)) {\n            min = delta[j];\n            index = j;\n        }\n    }\n    lamp[0] = (index&0x01);\n    lamp[1] = ((index>>1)&0x01);\n    lamp[2] = ((index>>2)&0x01);\n    lamp[3] = ((index>>3)&0x01);\n    lamp[4] = ((index>>4)&0x01);\n    nyala[i] =  lamp;\n    result[i] = {'time':time[i], 'Lampu 1':nyala[i][0], 'Lampu 2': nyala[i][1], 'Lampu 3': nyala[i][2], 'Lampu 4': nyala[i][3], 'Lampu 5': nyala[i][4]};\n    buffer += \"[ \\n{ \\n\\\"time\\\":\" + time[i] + \", \\\"Lampu 1\\\":\" + nyala[i][0] + \", \\\"Lampu 2\\\":\" + nyala[i][1] + \", \\\"Lampu 3\\\":\" + nyala[i][2]+ \", \\\"Lampu 4\\\":\" + nyala[i][3] + \", \\\"Lampu 5\\\":\" + nyala[i][4] + \" \\n} \\n],\";\n    state = nyala[i];\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\ndata = JSON.parse(buffer)\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":1640,"wires":[["cce0bde0.d9666","9c651fc.8f9c2e"]]},{"id":"ef87c0c8.dfb3d","type":"inject","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1580,"wires":[["d85dd2e1.dd68d"]]},{"id":"d85dd2e1.dd68d","type":"function","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Lamp Power","func":"var lampPower = [ ];\nvar l1 = 60;\nvar l2 = 102.45;\nvar l3 = 207.02;\nvar l4 = 25.5;\nvar l5 = 6.84;\nvar sum;\nfor (i=0; i<32; i++){\n    sum = 0;\n    sum += (i&0x01)*l1;\n    sum += ((i>>1)&0x01)*l2;\n    sum += ((i>>2)&0x01)*l3;\n    sum += ((i>>3)&0x01)*l4;\n    sum += ((i>>4)&0x01)*l5;\n    lampPower[i] = sum;\n}\nmsg.payload = lampPower;\nflow.set('lampPower', lampPower);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1580,"wires":[[]]},{"id":"e199f1ac.a656c","type":"comment","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Test Minimasi - Median Filter, Moving Average","info":"","x":240,"y":1520,"wires":[]},{"id":"84093f7c.15f89","type":"json","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"","property":"payload","action":"","pretty":false,"x":1280,"y":1640,"wires":[["4700a505.0556cc"]]},{"id":"18322cfc.2d6f53","type":"pythonshell in","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"Preprocessing","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/movingaverage.py","virtualenv":"","continuous":false,"stdInData":false,"x":1070,"y":1640,"wires":[["84093f7c.15f89","c6cd4677.4b2878"]]},{"id":"e577eef2.b3eee","type":"json","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"","property":"payload","action":"","pretty":false,"x":1460,"y":1560,"wires":[["d458dc7a.731ed"]]},{"id":"c6cd4677.4b2878","type":"function","z":"7e325ce2.787a24","g":"1f1294f3.59125b","name":"","func":"var power = msg.payload;\nvar time = flow.get('time');\n\ndata = JSON.parse(power).power;\n\nn = data.length;\nbuffer = \"[\\n\"\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + time[i] +\n                \", \\\"powerMA\\\":\" + data[i] + \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1560,"wires":[["e577eef2.b3eee"]]},{"id":"828112bd.9d706","type":"function","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"get Power Value","func":"var power = msg.payload;\nfor (i=0; i<power.length; i++){\n    power[i] = power[i].power;\n}\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1340,"wires":[["53009c2d.73e704"]]},{"id":"c5a00ebb.ff84d","type":"influxdb in","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","influxdb":"bbd3c19e.bc5c9","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":570,"y":1340,"wires":[["828112bd.9d706","504614e8.22aadc"]]},{"id":"fcd4fd77.eeb0a","type":"function","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Get Power","func":"msg.query = \"SELECT * FROM test_power\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1340,"wires":[["c5a00ebb.ff84d"]]},{"id":"35bb721a.697f2e","type":"inject","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":1340,"wires":[["fcd4fd77.eeb0a"]]},{"id":"5f6a2f2c.ac1fc","type":"influxdb out","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"predicted_state_MF","precision":"","retentionPolicy":"","x":1760,"y":1340,"wires":[]},{"id":"3624e6ba.b4f8fa","type":"debug","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1620,"y":1400,"wires":[]},{"id":"7a472426.996b0c","type":"function","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Minimasi","func":"var powerIn = msg.payload.power;\nvar lampPower = flow.get('lampPower');\nvar time = flow.get('time');\nvar delta = [ ];\nvar i, j, index;\nvar lamp = [0,0,0,0,0];\nvar result = [ ];\nvar nyala = [ ];\nvar state = [0,0,0,0,0]\nvar deltastate = [ ];\nvar min;\nvar buffer = \"[\\n\";\n\nfor (i=0; i<powerIn.length; i++) {\n    for (j=0; j<32; j++){\n        deltastate[j] = Math.abs(state[0]-(j&0x01))+Math.abs(state[1]-((j>>1)&0x01))+Math.abs(state[2]-((j>>2)&0x01))+Math.abs(state[3]-((j>>3)&0x01))+Math.abs(state[4]-((j>>4)&0x01));\n        delta[j] = Math.abs(powerIn[i]-lampPower[j]);\n    }\n    min = delta[0];\n    for (j=1; j<32; j++) {\n        if ((min>delta[j]) && (deltastate[j]<=1)) {\n            min = delta[j];\n            index = j;\n        }\n    }\n    lamp[0] = (index&0x01);\n    lamp[1] = ((index>>1)&0x01);\n    lamp[2] = ((index>>2)&0x01);\n    lamp[3] = ((index>>3)&0x01);\n    lamp[4] = ((index>>4)&0x01);\n    nyala[i] =  lamp;\n    result[i] = {'time':time[i], 'Lampu 1':nyala[i][0], 'Lampu 2': nyala[i][1], 'Lampu 3': nyala[i][2], 'Lampu 4': nyala[i][3], 'Lampu 5': nyala[i][4]};\n    buffer += \"[ \\n{ \\n\\\"time\\\":\" + time[i] + \", \\\"Lampu 1\\\":\" + nyala[i][0] + \", \\\"Lampu 2\\\":\" + nyala[i][1] + \", \\\"Lampu 3\\\":\" + nyala[i][2]+ \", \\\"Lampu 4\\\":\" + nyala[i][3] + \", \\\"Lampu 5\\\":\" + nyala[i][4] + \" \\n} \\n],\";\n    state = nyala[i];\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\ndata = JSON.parse(buffer)\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":1340,"wires":[["3624e6ba.b4f8fa","5f6a2f2c.ac1fc"]]},{"id":"b0227bf8.d31c18","type":"inject","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1280,"wires":[["d78b69b7.1793e8"]]},{"id":"d78b69b7.1793e8","type":"function","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Lamp Power","func":"var lampPower = [ ];\nvar l1 = 60;\nvar l2 = 102.45;\nvar l3 = 207.02;\nvar l4 = 25.5;\nvar l5 = 6.84;\nvar sum;\nfor (i=0; i<32; i++){\n    sum = 0;\n    sum += (i&0x01)*l1;\n    sum += ((i>>1)&0x01)*l2;\n    sum += ((i>>2)&0x01)*l3;\n    sum += ((i>>3)&0x01)*l4;\n    sum += ((i>>4)&0x01)*l5;\n    lampPower[i] = sum;\n}\nmsg.payload = lampPower;\nflow.set('lampPower', lampPower);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1280,"wires":[[]]},{"id":"a3c2e254.b8aa3","type":"comment","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Test Minimasi - Median Filter","info":"","x":190,"y":1220,"wires":[]},{"id":"e6a12f25.ea9c6","type":"json","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"","property":"payload","action":"","pretty":false,"x":1280,"y":1340,"wires":[["7a472426.996b0c"]]},{"id":"53009c2d.73e704","type":"pythonshell in","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"Preprocessing","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/medianfilter.py","virtualenv":"","continuous":false,"stdInData":false,"x":1070,"y":1340,"wires":[["e6a12f25.ea9c6","bab0641e.686b38"]]},{"id":"bab0641e.686b38","type":"function","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"","func":"var power = msg.payload;\nvar time = flow.get('time');\n\ndata = JSON.parse(power).power;\n\nn = data.length;\nbuffer = \"[\\n\"\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + time[i] +\n                \", \\\"powerMF\\\":\" + data[i] + \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1260,"wires":[["48af8f42.f5577"]]},{"id":"48af8f42.f5577","type":"json","z":"7e325ce2.787a24","g":"1ac3c273.d8326e","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":1260,"wires":[["f7a7a12e.9b57c"]]},{"id":"618d6635.a34588","type":"inject","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":780,"wires":[["14d1188d.3a14a7"]]},{"id":"2fc9b6fc.98beca","type":"function","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Get Power","func":"var dataPower = msg.payload;\nvar buffPower = '';      //untuk delay buf nol\nvar buffTime = '';\nvar model = global.get('model');\n            \nfor (i=0;i<dataPower.length;i++) {\n    buffPower+=dataPower[i].power + ',';       //pemisah nilai dengan koma\n}\nbuffPower = buffPower.slice(0,buffPower.length-1);    //menghapus koma terakhir\n\ndata = \"{\\\"modelLampu\\\" : \" + model + \",\\\"powerTest\\\" : \\\"\"  + buffPower + \"\\\"}\";\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":780,"wires":[["a4e395d5.a9e0c8"]]},{"id":"a4e395d5.a9e0c8","type":"pythonshell in","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Decoding","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/Lampu/fhmmtest_lampu.py","virtualenv":"","continuous":false,"stdInData":false,"x":1010,"y":780,"wires":[["18d204dd.a199eb","88fb7256.efad1"]]},{"id":"f615d6fa.894af8","type":"comment","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Test FHMM","info":"Testing daya total lampu menggunakan model sebelumnya","x":140,"y":720,"wires":[]},{"id":"14d1188d.3a14a7","type":"function","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Get Power","func":"msg.query = 'SELECT * FROM test_power'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":780,"wires":[["8f7adadb.ed50b8"]]},{"id":"8f7adadb.ed50b8","type":"influxdb in","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","influxdb":"bbd3c19e.bc5c9","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":570,"y":780,"wires":[["2fc9b6fc.98beca","bb157302.fd80a"]]},{"id":"54142ba0.2b3444","type":"json","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"","property":"payload","action":"","pretty":false,"x":1440,"y":780,"wires":[["229b21f4.c8defe"]]},{"id":"229b21f4.c8defe","type":"influxdb out","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"predicted_power_fhmm","precision":"","retentionPolicy":"","x":1740,"y":780,"wires":[]},{"id":"18d204dd.a199eb","type":"function","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Get Predicted Power","func":"var power = msg.payload;\nvar time = flow.get('buffTime');\n\ndata = JSON.parse(\"{\\\"time\\\" : [\" + time + \"], \" + power);\n\nn = data['time'].length;\nbuffer = \"[\\n\"\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + data['time'][i] +\n                \", \\\"Lampu 1\\\":\" + data['power']['powerL1'][i] + \n                \", \\\"Lampu 2\\\":\" + data['power']['powerL2'][i] + \n                \", \\\"Lampu 3\\\":\" + data['power']['powerL3'][i] + \n                \", \\\"Lampu 4\\\":\" + data['power']['powerL4'][i] + \n                \", \\\"Lampu 5\\\":\" + data['power']['powerL5'][i] +\n                \", \\\"Total\\\":\" + data['power']['total'][i] + \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":780,"wires":[["54142ba0.2b3444"]]},{"id":"bb157302.fd80a","type":"function","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Get Time","func":"var dataPower = msg.payload;\nvar buffTime = \" \";\n\nfor (i=0;i<dataPower.length;i++) {\n    buffTime+=(new Date(dataPower[i].time).getTime())*1000000 + ',';       //pemisah nilai dengan koma\n}\n\nbuffTime = buffTime.slice(0,buffTime.length-1);    //menghapus koma terakhir\n\nflow.set('buffTime',buffTime);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":840,"wires":[[]]},{"id":"88fb7256.efad1","type":"function","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"Get Predicted State","func":"var power = msg.payload;\nvar time = flow.get('buffTime');\n\ndata = JSON.parse(\"{\\\"time\\\" : [\" + time + \"], \" + power);\n\nn = data['time'].length;\nbuffer = \"[\\n\"\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + data['time'][i] +\n                \", \\\"Lampu 1\\\":\" + data['state']['stateL1'][i] + \n                \", \\\"Lampu 2\\\":\" + data['state']['stateL2'][i] + \n                \", \\\"Lampu 3\\\":\" + data['state']['stateL3'][i] + \n                \", \\\"Lampu 4\\\":\" + data['state']['stateL4'][i] + \n                \", \\\"Lampu 5\\\":\" + data['state']['stateL5'][i] + \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\n\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":820,"wires":[["cd1209fe.2b10e8"]]},{"id":"cd1209fe.2b10e8","type":"json","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","name":"","property":"payload","action":"","pretty":false,"x":1440,"y":820,"wires":[["7d860671.613828"]]},{"id":"7d860671.613828","type":"influxdb out","z":"7e325ce2.787a24","g":"33a0bd84.4abec2","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"predicted_state_fhmm","precision":"","retentionPolicy":"","x":1740,"y":820,"wires":[]},{"id":"22863cb3.bcca74","type":"file in","z":"7e325ce2.787a24","g":"66faf6e.f181b08","name":"","filename":"D:\\15. DERARA\\4. Data\\TestLamp.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":300,"wires":[["3053b619.59575a"]]},{"id":"20c13e09.30be12","type":"inject","z":"7e325ce2.787a24","g":"66faf6e.f181b08","name":"Injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"25","topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["22863cb3.bcca74"]]},{"id":"f57757ee.6b3198","type":"json","z":"7e325ce2.787a24","g":"66faf6e.f181b08","name":"","property":"payload","action":"","pretty":false,"x":1020,"y":300,"wires":[["f0e23f92.cf8b3"]]},{"id":"ccf54232.b98d2","type":"function","z":"7e325ce2.787a24","g":"66faf6e.f181b08","name":"","func":"var data = msg.payload;\nvar n = data.length;\nvar buffer = \"[\\n\";\n\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + data[i].time +\n                \", \\\"power\\\":\" + data[i].power + \" } \\n],\"\n}\n\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\"; \n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":300,"wires":[["f57757ee.6b3198"]]},{"id":"f0e23f92.cf8b3","type":"influxdb out","z":"7e325ce2.787a24","g":"66faf6e.f181b08","influxdb":"bbd3c19e.bc5c9","name":"","measurement":"test_power","precision":"","retentionPolicy":"","x":1290,"y":300,"wires":[]},{"id":"3053b619.59575a","type":"csv to json ext","z":"7e325ce2.787a24","g":"66faf6e.f181b08","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":680,"y":300,"wires":[["ccf54232.b98d2"]]},{"id":"2f9cb85.8d4ae48","type":"comment","z":"7e325ce2.787a24","g":"66faf6e.f181b08","name":"Input data test lampu","info":"Menginput data test lampu berisi daya total lampu ke dalam database","x":170,"y":240,"wires":[]},{"id":"bbd3c19e.bc5c9","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dataLampu","name":"","usetls":false,"tls":""}]