AMPDs/flow AMPDs.txt
[{"id":"74e1a81b.f01878","type":"tab","label":"AMPDs","disabled":false,"info":""},{"id":"341d70c7.21bd6","type":"group","z":"74e1a81b.f01878","name":"","style":{"label":true},"nodes":["d032a2f3.8dd86","6e229914.ac4f68","8bd7b66c.03cd78","67a9e905.51bf58"],"x":64,"y":419,"w":502,"h":142},{"id":"65b18ba9.88ce14","type":"group","z":"74e1a81b.f01878","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1bc96602.22b0ea","42e65879.fa2f78","a75651fd.4b2fb","3040a5ac.b17d0a","c01a02ae.5960f","5ada25b4.71eeac","25342014.94622","301886a0.bd60fa","450a8ea1.073ad","87254fb.b85a5b","98d74bab.c69748"],"x":64,"y":579,"w":1232,"h":182},{"id":"8f1ebb43.d90d08","type":"group","z":"74e1a81b.f01878","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["475f595.6fee2a8","ebf00ac1.4a1338","613e511e.16751","a3e8e452.aa0cf8","b448a8ed.88b118","782e04df.a4592c","d98b322c.02653","5d217ff9.ab125","4e3be595.d5981c"],"x":64,"y":39,"w":1432,"h":182},{"id":"bed33525.386e08","type":"group","z":"74e1a81b.f01878","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7e828a8d.ee2014","867d988c.d21088","9f039cd0.5ae18","15bbb81a.75a5c8","26b716.3d8678ea","ee1fc5f7.176098","a3e49a9c.175a18","940b3ac9.0fc068","ec133f70.18473","cab73565.936298","9d808376.abb38"],"x":63,"y":779,"w":872,"h":162},{"id":"d31eeb8e.5a6508","type":"group","z":"74e1a81b.f01878","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8c84bde6.3c982","3b3ec0ca.0e33d","b184b60c.cb9d28","6607e1da.159cf","20bc01ef.5dbfbe","777c7464.17f18c","58cf861e.c6e148","6aeb568b.467b18","b1d12f08.39fc","6074eb77.3d89a4"],"x":67,"y":959,"w":972,"h":202},{"id":"ffd0a027.5d423","type":"group","z":"74e1a81b.f01878","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["feeca4cd.2c5728","5074eaa3.4168e4","e870c68d.e94ea8","9e725c4d.4de65","4ffda074.ae058","2008f7e3.eebd18","26aec493.909b1c","c7232583.430828"],"x":64,"y":239,"w":1372,"h":142},{"id":"7e828a8d.ee2014","type":"inject","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":179,"y":900,"wires":[["867d988c.d21088"]]},{"id":"867d988c.d21088","type":"function","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"Pilih Data","func":"t = 1334182620000000000;\nmsg.query = 'SELECT * FROM power_2weeks'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":329,"y":900,"wires":[["9f039cd0.5ae18"]]},{"id":"9f039cd0.5ae18","type":"influxdb in","z":"74e1a81b.f01878","g":"bed33525.386e08","influxdb":"9f1e3e28.0f25a","name":"Database (1)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":499,"y":900,"wires":[["15bbb81a.75a5c8"]]},{"id":"15bbb81a.75a5c8","type":"function","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"","func":"var power = msg.payload;\nn = power.length;\nenergi_total = flow.get('energi_total');\nperkwh = 1467.28;\n\nvar energi = {};\nvar persentase = {};\nvar appliance = {}\n\nfor(app in power[0]){\n    energi[app] = 0;\n    appliance[app] = app;\n}\n\nfor(app in appliance){\n    for(i=0;i<n;i++){\n        energi[app] += power[i][app];\n    }\n    energi[app] = energi[app]/60000;\n    persentase[app] = energi[app]*100/energi_total;\n}\n\ndelete energi['time'];\ndelete persentase['time'];\nbiaya = energi_total*perkwh;\n\nstruktur = {'energi' : energi, 'persentase' : persentase, 'biaya' : biaya};\n\nmsg.payload = struktur;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659,"y":900,"wires":[["26b716.3d8678ea"]]},{"id":"26b716.3d8678ea","type":"debug","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":819,"y":900,"wires":[]},{"id":"ee1fc5f7.176098","type":"inject","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":179,"y":860,"wires":[["a3e49a9c.175a18"]]},{"id":"a3e49a9c.175a18","type":"function","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"Pilih Data","func":"t = 1334182620000000000;\nmsg.query = 'SELECT * FROM test_2weeks'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":329,"y":860,"wires":[["940b3ac9.0fc068"]]},{"id":"940b3ac9.0fc068","type":"influxdb in","z":"74e1a81b.f01878","g":"bed33525.386e08","influxdb":"9f1e3e28.0f25a","name":"Database (1)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":499,"y":860,"wires":[["ec133f70.18473"]]},{"id":"ec133f70.18473","type":"function","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"","func":"var power = msg.payload;\nn = power.length;\n\nvar energi = 0;\n\nfor(i=0;i<n;i++){\n    energi += power[i].power;\n}\nenergi = energi/60000;\nflow.set('energi_total',energi)\nmsg.payload = energi;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659,"y":860,"wires":[["cab73565.936298"]]},{"id":"cab73565.936298","type":"debug","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":819,"y":860,"wires":[]},{"id":"9d808376.abb38","type":"comment","z":"74e1a81b.f01878","g":"bed33525.386e08","name":"Energi dan Struktur Biaya","info":"","x":199,"y":820,"wires":[]},{"id":"d032a2f3.8dd86","type":"function","z":"74e1a81b.f01878","g":"341d70c7.21bd6","name":"model","func":"var model = msg.payload;\nglobal.set('model', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":520,"wires":[[]]},{"id":"6e229914.ac4f68","type":"pythonshell in","z":"74e1a81b.f01878","g":"341d70c7.21bd6","name":"learning","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/AMPDs/fhmmtrain_ampds.py","virtualenv":"","continuous":false,"stdInData":false,"x":340,"y":520,"wires":[["d032a2f3.8dd86"]]},{"id":"8bd7b66c.03cd78","type":"inject","z":"74e1a81b.f01878","g":"341d70c7.21bd6","name":"injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["6e229914.ac4f68"]]},{"id":"67a9e905.51bf58","type":"comment","z":"74e1a81b.f01878","g":"341d70c7.21bd6","name":"Learning FHMM","info":"","x":170,"y":460,"wires":[]},{"id":"feeca4cd.2c5728","type":"file in","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"","filename":"D:\\15. DERARA\\4. Data\\test_ampds2.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":340,"wires":[["2008f7e3.eebd18"]]},{"id":"5074eaa3.4168e4","type":"inject","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"","repeat":"","crontab":"","once":false,"onceDelay":"25","topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["feeca4cd.2c5728"]]},{"id":"e870c68d.e94ea8","type":"json","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"","property":"payload","action":"","pretty":false,"x":1020,"y":340,"wires":[["4ffda074.ae058","c7232583.430828"]]},{"id":"9e725c4d.4de65","type":"function","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"","func":"var data = msg.payload;\nvar n = data.length;\nvar buffer = \"[\\n\";\n\nfor(i=0;i<n;i++) {\n   buffer += \"[{ \\\"time\\\":\" + data[i].time +\n                \", \\\"power\\\":\" + data[i].Total + \" }],\"\n}\n\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\"; \n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["e870c68d.e94ea8"]]},{"id":"4ffda074.ae058","type":"influxdb out","z":"74e1a81b.f01878","g":"ffd0a027.5d423","influxdb":"9f1e3e28.0f25a","name":"","measurement":"test_2weeks","precision":"","retentionPolicy":"","x":1270,"y":340,"wires":[]},{"id":"2008f7e3.eebd18","type":"csv to json ext","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":700,"y":340,"wires":[["9e725c4d.4de65"]]},{"id":"26aec493.909b1c","type":"comment","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"Input data test","info":"","x":160,"y":280,"wires":[]},{"id":"c7232583.430828","type":"debug","z":"74e1a81b.f01878","g":"ffd0a027.5d423","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":280,"wires":[]},{"id":"475f595.6fee2a8","type":"file in","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","filename":"D:\\15. DERARA\\4. Data\\ampds.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["782e04df.a4592c"]]},{"id":"ebf00ac1.4a1338","type":"inject","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","repeat":"","crontab":"","once":false,"onceDelay":"25","topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["475f595.6fee2a8"]]},{"id":"613e511e.16751","type":"json","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","property":"payload","action":"","pretty":false,"x":1040,"y":140,"wires":[["b448a8ed.88b118","5d217ff9.ab125"]]},{"id":"a3e8e452.aa0cf8","type":"function","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","func":"var data = msg.payload;\nvar n = data.length;\nvar buffer = \"[\\n\";\n\nfor(i=0;i<n;i++) {\n   buffer += \"[{ \\\"time\\\":\" + data[i].time +\n                \", \\\"WHE\\\":\" + data[i].WHE + \n                \", \\\"RSE\\\":\" + data[i].RSE + \n                \", \\\"GRE\\\":\" + data[i].GRE + \n                \", \\\"MHE\\\":\" + data[i].MHE + \n                \", \\\"B1E\\\":\" + data[i].B1E + \n                \", \\\"BME\\\":\" + data[i].BME + \n                \", \\\"CWE\\\":\" + data[i].CWE + \n                \", \\\"DWE\\\":\" + data[i].DWE + \n                \", \\\"EQE\\\":\" + data[i].EQE + \n                \", \\\"FRE\\\":\" + data[i].FRE + \n                \", \\\"HPE\\\":\" + data[i].HPE + \n                \", \\\"OFE\\\":\" + data[i].OFE + \n                \", \\\"UTE\\\":\" + data[i].UTE + \n                \", \\\"WOE\\\":\" + data[i].WOE + \n                \", \\\"B2E\\\":\" + data[i].B2E + \n                \", \\\"CDE\\\":\" + data[i].CDE + \n                \", \\\"DNE\\\":\" + data[i].DNE + \n                \", \\\"EBE\\\":\" + data[i].EBE + \n                \", \\\"FGE\\\":\" + data[i].FGE + \n                \", \\\"HTE\\\":\" + data[i].HTE + \n                \", \\\"OUE\\\":\" + data[i].OUE + \n                \", \\\"TVE\\\":\" + data[i].TVE + \n                \", \\\"UNE\\\":\" + data[i].UNE + \" }],\"\n}\n\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\"; \n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":140,"wires":[["613e511e.16751"]]},{"id":"b448a8ed.88b118","type":"influxdb out","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","influxdb":"9f1e3e28.0f25a","name":"","measurement":"train_power_4weeks","precision":"","retentionPolicy":"","x":1300,"y":140,"wires":[]},{"id":"782e04df.a4592c","type":"csv to json ext","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":700,"y":140,"wires":[["a3e8e452.aa0cf8","4e3be595.d5981c"]]},{"id":"d98b322c.02653","type":"comment","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"Input data train","info":"","x":170,"y":80,"wires":[]},{"id":"5d217ff9.ab125","type":"debug","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":80,"wires":[]},{"id":"4e3be595.d5981c","type":"function","z":"74e1a81b.f01878","g":"8f1ebb43.d90d08","name":"","func":"var data = msg.payload;\nvar n = data.length;\n\nfor(i=0;i<n;i++) {\n    data[i].time = parseFloat(data[i].time);\n    data[i].WHE = parseFloat(data[i].WHE);\n    data[i].RSE = parseFloat(data[i].RSE);\n    data[i].GRE = parseFloat(data[i].GRE);\n    data[i].MHE = parseFloat(data[i].MHE);\n    data[i].B1E = parseFloat(data[i].B1E);\n    data[i].BME = parseFloat(data[i].BME);\n    data[i].CWE = parseFloat(data[i].CWE);\n    data[i].DWE = parseFloat(data[i].DWE);\n    data[i].EQE = parseFloat(data[i].EQE);\n    data[i].FRE = parseFloat(data[i].FRE);\n    data[i].HPE = parseFloat(data[i].HPE);\n    data[i].OFE = parseFloat(data[i].OFE);\n    data[i].UTE = parseFloat(data[i].UTE);\n    data[i].WOE = parseFloat(data[i].WOE);\n    data[i].B2E = parseFloat(data[i].B2E);\n    data[i].CDE = parseFloat(data[i].CDE);\n    data[i].DNE = parseFloat(data[i].DNE);\n    data[i].EBE = parseFloat(data[i].EBE);\n    data[i].FGE = parseFloat(data[i].FGE);\n    data[i].HTE = parseFloat(data[i].HTE);\n    data[i].OUE = parseFloat(data[i].OUE);\n    data[i].TVE = parseFloat(data[i].TVE);\n    data[i].UNE = parseFloat(data[i].UNE);\n}\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":180,"wires":[[]]},{"id":"1bc96602.22b0ea","type":"inject","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":680,"wires":[["c01a02ae.5960f"]]},{"id":"42e65879.fa2f78","type":"function","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"data daya dan model","func":"var dataPower = msg.payload;\nvar buffPower = '';      //untuk delay buf nol\nvar buffTime = '';\nvar model = global.get('model');\n            \nfor (i=0;i<dataPower.length;i++) {\n    buffPower+=dataPower[i].power + ',';       //pemisah nilai dengan koma\n}\nbuffPower = buffPower.slice(0,buffPower.length-1);    //menghapus koma terakhir\n\ndata = \"{\\\"model\\\" : \" + model + \",\\\"powerTest\\\" : \\\"\"  + buffPower + \"\\\"}\";\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":680,"wires":[["a75651fd.4b2fb"]]},{"id":"a75651fd.4b2fb","type":"pythonshell in","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"decoding","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/AMPDs/fhmmtest_ampds.py","virtualenv":"","continuous":false,"stdInData":false,"x":870,"y":680,"wires":[["450a8ea1.073ad","87254fb.b85a5b"]]},{"id":"3040a5ac.b17d0a","type":"comment","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"Decoding FHMM","info":"","x":170,"y":620,"wires":[]},{"id":"c01a02ae.5960f","type":"function","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"ambil data daya","func":"t = 1334182620000000000;\n//msg.query = 'SELECT * FROM WHERE time > ' + t + ' limit 1440'; \n//msg.query = 'SELECT * FROM test_2weeks3 limit 5000'\nmsg.query = 'SELECT * FROM test_2weeks3 where time > 1334773140000000000'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":680,"wires":[["5ada25b4.71eeac"]]},{"id":"5ada25b4.71eeac","type":"influxdb in","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","influxdb":"9f1e3e28.0f25a","name":"database (5)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":480,"y":680,"wires":[["42e65879.fa2f78","25342014.94622"]]},{"id":"25342014.94622","type":"function","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"data waktu","func":"var power = msg.payload;\nvar time = [ ];\n\nfor (i=0; i<power.length; i++){\n    time[i] = (new Date(power[i].time).getTime())*1000000;\n}\nflow.set('time', time);\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":640,"wires":[[]]},{"id":"301886a0.bd60fa","type":"influxdb out","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","influxdb":"9f1e3e28.0f25a","name":"database (6)","measurement":"power_2weeks4","precision":"","retentionPolicy":"","x":1200,"y":680,"wires":[]},{"id":"450a8ea1.073ad","type":"function","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"waktu dan daya","func":"var power = msg.payload;\nvar time = flow.get('time');\nvar result = [ ];\n\ndata = JSON.parse(\"{\" + power);\n\nn = time.length;\nbuffer = \"[\\n\"\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + time[i] +\n                //\", \\\"B1E\\\":\" + data['power']['powerB1E'][i] + \n                //\", \\\"B2E\\\":\" + data['power']['powerB2E'][i] + \n                \", \\\"BME\\\":\" + data['power']['powerBME'][i] + \n                \", \\\"CDE\\\":\" + data['power']['powerCDE'][i] + \n                \", \\\"CWE\\\":\" + data['power']['powerCWE'][i] + \n                \", \\\"DWE\\\":\" + data['power']['powerDWE'][i] +\n                //\", \\\"EQE\\\":\" + data['power']['powerEQE'][i] + \n                \", \\\"FGE\\\":\" + data['power']['powerFGE'][i] +\n                //\", \\\"FRE\\\":\" + data['power']['powerFRE'][i] +\n                \", \\\"HPE\\\":\" + data['power']['powerHPE'][i] + \n                //\", \\\"HTE\\\":\" + data['power']['powerHTE'][i] + \n                //\", \\\"OFE\\\":\" + data['power']['powerOFE'][i] + \n                \", \\\"TVE\\\":\" + data['power']['powerTVE'][i] + \n                //\", \\\"WOE\\\":\" + data['power']['powerWOE'][i] +\n                //\", \\\"UNE\\\":\" + data['power']['powerUNE'][i] + \n                //\", \\\"Total\\\":\" + data['power']['total'][i] +\n                \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\npower = JSON.parse(buffer)\n\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":680,"wires":[["301886a0.bd60fa"]]},{"id":"87254fb.b85a5b","type":"function","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","name":"waktu dan state","func":"var state = msg.payload;\nvar time = flow.get('time');\nvar result = [ ];\n\ndata = JSON.parse(\"{\" + state);\n\nn = time.length;\nbuffer = \"[\\n\"\nfor(i=0;i<n;i++) {\n   buffer += \"[\\n{ \\\"time\\\":\" + time[i] +\n                //\", \\\"B1E\\\":\" + data['state']['stateB1E'][i] + \n                //\", \\\"B2E\\\":\" + data['state']['stateB2E'][i] + \n                \", \\\"BME\\\":\" + data['state']['stateBME'][i] + \n                \", \\\"CDE\\\":\" + data['state']['stateCDE'][i] + \n                \", \\\"CWE\\\":\" + data['state']['stateCWE'][i] + \n                \", \\\"DWE\\\":\" + data['state']['stateDWE'][i] +\n                //\", \\\"EQE\\\":\" + data['state']['stateEQE'][i] + \n                \", \\\"FGE\\\":\" + data['state']['stateFGE'][i] +\n                //\", \\\"FRE\\\":\" + data['state']['stateFRE'][i] +\n                \", \\\"HPE\\\":\" + data['state']['stateHPE'][i] + \n                //\", \\\"HTE\\\":\" + data['state']['stateHTE'][i] + \n                //\", \\\"OFE\\\":\" + data['state']['stateOFE'][i] + \n                \", \\\"TVE\\\":\" + data['state']['stateTVE'][i] + \n                //\", \\\"WOE\\\":\" + data['state']['stateWOE'][i] +\n                //\", \\\"UNE\\\":\" + data['state']['stateUNE'][i] + \n                //\", \\\"Total\\\":\" + data['state']['total'][i] +\n                \" } \\n],\"\n}\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\nstate = JSON.parse(buffer)\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":720,"wires":[["98d74bab.c69748"]]},{"id":"98d74bab.c69748","type":"influxdb out","z":"74e1a81b.f01878","g":"65b18ba9.88ce14","influxdb":"9f1e3e28.0f25a","name":"database (7)","measurement":"state_2weeks4","precision":"","retentionPolicy":"","x":1200,"y":720,"wires":[]},{"id":"8c84bde6.3c982","type":"inject","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"Injeksi 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":173,"y":1060,"wires":[["3b3ec0ca.0e33d"]]},{"id":"3b3ec0ca.0e33d","type":"function","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"","func":"msg.query = 'select * from power_2weeks'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":333,"y":1060,"wires":[["b184b60c.cb9d28"]]},{"id":"b184b60c.cb9d28","type":"influxdb in","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","influxdb":"9f1e3e28.0f25a","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":533,"y":1060,"wires":[["6607e1da.159cf"]]},{"id":"6607e1da.159cf","type":"function","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"Data waktu","func":"var power = msg.payload;\nflow.set('predicted_power', power);\n\nmsg.payload = power[0].time;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":743,"y":1060,"wires":[[]]},{"id":"20bc01ef.5dbfbe","type":"inject","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"Injeksi 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":173,"y":1120,"wires":[["777c7464.17f18c"]]},{"id":"777c7464.17f18c","type":"function","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"","func":"msg.query = 'select * from train_power_4weeks'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":333,"y":1120,"wires":[["58cf861e.c6e148"]]},{"id":"58cf861e.c6e148","type":"influxdb in","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","influxdb":"9f1e3e28.0f25a","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":533,"y":1120,"wires":[["6aeb568b.467b18"]]},{"id":"6aeb568b.467b18","type":"function","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"Data waktu","func":"var real_power = msg.payload;\nvar predicted_power = flow.get('predicted_power');\nvar n = predicted_power.length;\n\na = (new Date(predicted_power[0].time).getTime())\n\nfor(var i=0;i<real_power.length;i++){\n    if(new Date(real_power[i].time).getTime()==a){\n        index = i;\n        break;\n    }\n}\n\nreal_power = real_power.slice(index,index+n);\n//appliance = {'BME':'BME', 'CDE':'CDE', 'FGE':'FGE', 'HPE':'HPE', 'TVE':'TVE'};\n\nvar appliance = {}\nfor(var app in predicted_power[0]){\n    if (app != 'time'){\n        appliance[app] = app;\n    }\n}\n\nvar sum1 = 0;\nvar sum2 = 0;\nvar sumapp1 = {};\nvar sumapp2 = {};\nvar acc = {};\n\nfor(var app in appliance){\n    sumapp1[app] = 0\n    sumapp2[app] = 0\n}\n\nfor(i=0;i<n;i++){\n    for(var app in appliance){\n        sum1 += Math.abs(predicted_power[i][app]-real_power[i][app])\n        sum2 += real_power[i][app]\n        sumapp1[app] += Math.abs(predicted_power[i][app]-real_power[i][app])\n        sumapp2[app] += real_power[i][app]\n    }\n}\n\nfor(var app in appliance){\n    acc[app] = 1 - (sumapp1[app]/sumapp2[app])\n}\naccuracy = 1 - (sum1/sum2);\nacc['total'] = accuracy\nmsg.payload = acc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":743,"y":1120,"wires":[["b1d12f08.39fc"]]},{"id":"b1d12f08.39fc","type":"debug","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":923,"y":1120,"wires":[]},{"id":"6074eb77.3d89a4","type":"comment","z":"74e1a81b.f01878","g":"d31eeb8e.5a6508","name":"Akurasi","info":"","x":143,"y":1000,"wires":[]},{"id":"9f1e3e28.0f25a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ampds","name":"","usetls":false,"tls":""}]