AMPDs/flow real time.txt
[{"id":"537d5b67.3676b4","type":"tab","label":"Real Time","disabled":false,"info":""},{"id":"5f0b8c23.454c94","type":"group","z":"537d5b67.3676b4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["225f1847.66d348","d771cd54.735d5","a3bcc4ad.811968","41698a6c.080a24","6fa8331b.8a710c","f6e49fb0.537ed","db974285.dbae2","f65e5c.0a3561a8","e478967e.4f5588","b9538cbc.011a3"],"x":94,"y":639,"w":932,"h":182},{"id":"77f0b19d.d768a","type":"group","z":"537d5b67.3676b4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["aedee1e4.75778","d3651614.c2f088","50286c5b.d72214","27d8aa6a.552656"],"x":94,"y":319,"w":472,"h":142},{"id":"79b14b9d.c157a4","type":"group","z":"537d5b67.3676b4","name":"","style":{"label":true},"nodes":["e5465578.f78128","a771d477.6597c8","2b45b2d3.b8e01e","41186d9b.1781e4","a928e587.40f6f8","1802e9e1.4c28a6"],"x":94,"y":5,"w":692,"h":142},{"id":"8781f24b.219aa","type":"group","z":"537d5b67.3676b4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["daa1e3ca.fec5e","e2c787ee.b8d258","21603c32.eb27f4","926b14a4.073228","2b3c5531.430baa","9d52274c.bc7468"],"x":94,"y":159,"w":832,"h":142},{"id":"d54d46ac.2bad58","type":"group","z":"537d5b67.3676b4","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c6194487.324098","7f6c1ed8.f0beb","9c82c24c.5306a","f708b429.d52a18","5170ee76.a3eae","35a2fd28.8045a2","34d76aa0.d5bfb6","d98109b2.0fbbf8","aae4c28f.bac94","10498ac7.48a735","5e100dca.1c2194"],"x":94,"y":479,"w":1272,"h":142},{"id":"daa1e3ca.fec5e","type":"inject","z":"537d5b67.3676b4","g":"8781f24b.219aa","name":"1 menit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"600","topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["e2c787ee.b8d258"]]},{"id":"e2c787ee.b8d258","type":"function","z":"537d5b67.3676b4","g":"8781f24b.219aa","name":"ambil data daya","func":"t = flow.get('t')\nmsg.query = 'SELECT * FROM test_2weeks WHERE time = ' + t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["21603c32.eb27f4"]]},{"id":"21603c32.eb27f4","type":"influxdb in","z":"537d5b67.3676b4","g":"8781f24b.219aa","influxdb":"9f1e3e28.0f25a","name":"database (8)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":260,"wires":[["926b14a4.073228"]]},{"id":"926b14a4.073228","type":"function","z":"537d5b67.3676b4","g":"8781f24b.219aa","name":"daya JSON","func":"var power = msg.payload[0].power;\nvar time = (new Date(msg.payload[0].time).getTime())*1000000;\nflow.set('t', time+60000000000)\nmsg.payload = '{\"power\" : ' + power + '}';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":260,"wires":[["2b3c5531.430baa"]]},{"id":"2b3c5531.430baa","type":"mqtt out","z":"537d5b67.3676b4","g":"8781f24b.219aa","name":"mqtt out","topic":"real","qos":"","retain":"","broker":"83098f20.390cf","x":840,"y":260,"wires":[]},{"id":"aedee1e4.75778","type":"mqtt in","z":"537d5b67.3676b4","g":"77f0b19d.d768a","name":"mqtt in","topic":"real","qos":"2","datatype":"auto","broker":"83098f20.390cf","x":170,"y":420,"wires":[["d3651614.c2f088"]]},{"id":"d3651614.c2f088","type":"json","z":"537d5b67.3676b4","g":"77f0b19d.d768a","name":"json","property":"payload","action":"","pretty":false,"x":310,"y":420,"wires":[["50286c5b.d72214"]]},{"id":"50286c5b.d72214","type":"influxdb out","z":"537d5b67.3676b4","g":"77f0b19d.d768a","influxdb":"9f1e3e28.0f25a","name":"database (9)","measurement":"test_mqtt","precision":"","retentionPolicy":"","x":470,"y":420,"wires":[]},{"id":"c6194487.324098","type":"comment","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"Pemrosesan Data","info":"","x":210,"y":520,"wires":[]},{"id":"7f6c1ed8.f0beb","type":"inject","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"1 menit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"600","topic":"","payload":"","payloadType":"date","x":200,"y":580,"wires":[["9c82c24c.5306a"]]},{"id":"9c82c24c.5306a","type":"function","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"ambil data","func":"msg.query = 'SELECT * FROM test_mqtt WHERE time >= now()- 10m';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":580,"wires":[["f708b429.d52a18"]]},{"id":"f708b429.d52a18","type":"influxdb in","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","influxdb":"9f1e3e28.0f25a","name":"database (9)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":580,"wires":[["5170ee76.a3eae","35a2fd28.8045a2"]]},{"id":"5170ee76.a3eae","type":"function","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"data daya dan model","func":"var dataPower = msg.payload;\nvar buffPower = '';      //untuk delay buf nol\nvar buffTime = '';\nvar model = global.get('model');\n            \nfor (i=0;i<dataPower.length;i++) {\n    buffPower+=dataPower[i].power + ',';       //pemisah nilai dengan koma\n}\nbuffPower = buffPower.slice(0,buffPower.length-1);    //menghapus koma terakhir\n\ndata = \"{\\\"model\\\" : \" + model + \",\\\"powerTest\\\" : \\\"\"  + buffPower + \"\\\"}\";\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":580,"wires":[["34d76aa0.d5bfb6"]]},{"id":"35a2fd28.8045a2","type":"function","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"data waktu","func":"var power = msg.payload;\nvar time = [ ];\n\nfor (i=0; i<power.length; i++){\n    time[i] = (new Date(power[i].time).getTime())*1000000;\n}\nflow.set('time', time);\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":540,"wires":[[]]},{"id":"34d76aa0.d5bfb6","type":"pythonshell in","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"decoding","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/AMPDs/fhmmtest_ampds.py","virtualenv":"","continuous":false,"stdInData":false,"x":920,"y":580,"wires":[["d98109b2.0fbbf8","aae4c28f.bac94"]]},{"id":"d98109b2.0fbbf8","type":"function","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"waktu dan daya","func":"var power = msg.payload;\nvar time = flow.get('time');\nvar result = [ ];\n\ndata = JSON.parse(\"{\" + power);\n\nn = time.length-1;\nbuffer = \"[\\n\"\nbuffer += \"[\\n{ \\\"time\\\":\" + time[n] +\n            //\", \\\"B1E\\\":\" + data['power']['powerB1E'][i] + \n            //\", \\\"B2E\\\":\" + data['power']['powerB2E'][i] + \n            \", \\\"BME\\\":\" + data['power']['powerBME'][n] + \n            \", \\\"CDE\\\":\" + data['power']['powerCDE'][n] + \n            //\", \\\"CWE\\\":\" + data['power']['powerCWE'][i] + \n            //\", \\\"DWE\\\":\" + data['power']['powerDWE'][n] +\n            //\", \\\"EQE\\\":\" + data['power']['powerEQE'][i] + \n            \", \\\"FGE\\\":\" + data['power']['powerFGE'][n] +\n            //\", \\\"FRE\\\":\" + data['power']['powerFRE'][i] +\n            \", \\\"HPE\\\":\" + data['power']['powerHPE'][n] + \n            //\", \\\"HTE\\\":\" + data['power']['powerHTE'][i] + \n            //\", \\\"OFE\\\":\" + data['power']['powerOFE'][i] + \n            \", \\\"TVE\\\":\" + data['power']['powerTVE'][n] + \n            //\", \\\"WOE\\\":\" + data['power']['powerWOE'][i] +\n            //\", \\\"UNE\\\":\" + data['power']['powerUNE'][i] + \n            //\", \\\"Total\\\":\" + data['power']['total'][i] +\n            \" } \\n],\"\n\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\npower = JSON.parse(buffer)\n\nmsg.payload = power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":540,"wires":[["10498ac7.48a735"]]},{"id":"aae4c28f.bac94","type":"function","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","name":"waktu dan state","func":"var state = msg.payload;\nvar time = flow.get('time');\nvar result = [ ];\n\ndata = JSON.parse(\"{\" + state);\n\nn = time.length-1;\nbuffer = \"[\\n\"\nbuffer += \"[\\n{ \\\"time\\\":\" + time[n] +\n            //\", \\\"B1E\\\":\" + data['state']['stateB1E'][i] + \n            //\", \\\"B2E\\\":\" + data['state']['stateB2E'][i] + \n            \", \\\"BME\\\":\" + data['state']['stateBME'][n] + \n            \", \\\"CDE\\\":\" + data['state']['stateCDE'][n] + \n            //\", \\\"CWE\\\":\" + data['state']['stateCWE'][i] + \n            //\", \\\"DWE\\\":\" + data['state']['stateDWE'][n] +\n            //\", \\\"EQE\\\":\" + data['state']['stateEQE'][i] + \n            \", \\\"FGE\\\":\" + data['state']['stateFGE'][n] +\n            //\", \\\"FRE\\\":\" + data['state']['stateFRE'][i] +\n            \", \\\"HPE\\\":\" + data['state']['stateHPE'][n] + \n            //\", \\\"HTE\\\":\" + data['state']['stateHTE'][i] + \n            //\", \\\"OFE\\\":\" + data['state']['stateOFE'][i] + \n            \", \\\"TVE\\\":\" + data['state']['stateTVE'][n] + \n            //\", \\\"WOE\\\":\" + data['state']['stateWOE'][i] +\n            //\", \\\"UNE\\\":\" + data['state']['stateUNE'][i] + \n            //\", \\\"Total\\\":\" + data['state']['total'][i] +\n            \" } \\n],\"\n\nbuffer = buffer.slice(0,buffer.length-1);\nbuffer += \"\\n]\";\nstate = JSON.parse(buffer)\n\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":580,"wires":[["5e100dca.1c2194"]]},{"id":"10498ac7.48a735","type":"influxdb out","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","influxdb":"9f1e3e28.0f25a","name":"database (10)","measurement":"power_mqtt","precision":"","retentionPolicy":"","x":1260,"y":540,"wires":[]},{"id":"5e100dca.1c2194","type":"influxdb out","z":"537d5b67.3676b4","g":"d54d46ac.2bad58","influxdb":"9f1e3e28.0f25a","name":"database (11)","measurement":"state_mqtt","precision":"","retentionPolicy":"","x":1260,"y":580,"wires":[]},{"id":"225f1847.66d348","type":"comment","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","name":"Pemantauan Konsumsi Energi dan Struktur Biaya","info":"","x":300,"y":680,"wires":[]},{"id":"d771cd54.735d5","type":"function","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","name":"energi perangkat","func":"var power = msg.payload;\nn = power.length;\nenergi_total = flow.get('energi_total');\n\nvar energi = {};\nvar persentase = {};\nvar appliance = {}\n\nfor(app in power[0]){\n    energi[app] = 0;\n    appliance[app] = app;\n}\n\ndelete appliance['time'];\n\nfor(app in appliance){\n    for(i=0;i<n;i++){\n        energi[app] += power[i][app];\n    }\n    energi[app] = energi[app]/60000;\n    persentase[app] = energi[app]*100/energi_total;\n}\n\ndelete energi['time'];\ndelete persentase['time'];\n\nbuff = \"{\"\nfor(app in appliance){\n    buff += \"\\\"energi\" + app + \"\\\" : \" + energi[app] + \", \" +\n            \"\\\"persen\" + app + \"\\\" : \" + persentase[app] + \", \";\n}\n\nbuff = buff.slice(0,buff.length-2);\nbuff += \"}\"\n\nenergi_app = JSON.parse(buff)\n\nmsg.payload = energi_app;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":780,"wires":[["b9538cbc.011a3"]]},{"id":"a3bcc4ad.811968","type":"influxdb out","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","influxdb":"9f1e3e28.0f25a","name":"database (11)","measurement":"energi_total","precision":"","retentionPolicy":"","x":880,"y":740,"wires":[]},{"id":"41698a6c.080a24","type":"function","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","name":"energi dan biaya total","func":"var power = msg.payload;\nn = power.length;\n\nvar energi = 0;\n\nfor(i=0;i<n;i++){\n    energi += power[i].power;\n}\nenergi = energi/60000;\nflow.set('energi_total',energi)\n\nperkwh = 1467.28;\nbiaya = energi*perkwh;\nmsg.payload = {'energi_tot' : energi, 'biaya' : biaya};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["a3bcc4ad.811968"]]},{"id":"6fa8331b.8a710c","type":"influxdb in","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","influxdb":"9f1e3e28.0f25a","name":"database (9)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":740,"wires":[["41698a6c.080a24"]]},{"id":"f6e49fb0.537ed","type":"influxdb in","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","influxdb":"9f1e3e28.0f25a","name":"database (10)","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":540,"y":780,"wires":[["d771cd54.735d5"]]},{"id":"db974285.dbae2","type":"function","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","name":"daya total","func":"t = 1334620800000000000\nmsg.query = 'SELECT * FROM test_mqtt WHERE time >= ' + t + ' -1d AND time < ' + t;\n//msg.query = 'SELECT * FROM test_mqtt WHERE time > now() -2h'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":740,"wires":[["6fa8331b.8a710c"]]},{"id":"f65e5c.0a3561a8","type":"function","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","name":"daya perangkat","func":"t = 1334620800000000000\nmsg.query = 'SELECT * FROM power_mqtt WHERE time >= ' + t + ' -1d AND time < ' + t;\n//msg.query = 'SELECT * FROM power_mqtt WHERE time > now() -2h';  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":780,"wires":[["f6e49fb0.537ed"]]},{"id":"e478967e.4f5588","type":"inject","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","name":"00:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":740,"wires":[["db974285.dbae2","f65e5c.0a3561a8"]]},{"id":"b9538cbc.011a3","type":"influxdb out","z":"537d5b67.3676b4","g":"5f0b8c23.454c94","influxdb":"9f1e3e28.0f25a","name":"database (12)","measurement":"energi_app","precision":"","retentionPolicy":"","x":920,"y":780,"wires":[]},{"id":"9d52274c.bc7468","type":"comment","z":"537d5b67.3676b4","g":"8781f24b.219aa","name":"Simulasi Meter Energi","info":"","x":220,"y":200,"wires":[]},{"id":"27d8aa6a.552656","type":"comment","z":"537d5b67.3676b4","g":"77f0b19d.d768a","name":"Penyimpanan data","info":"","x":210,"y":360,"wires":[]},{"id":"9278141.7084ee8","type":"inject","z":"537d5b67.3676b4","name":"Injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":860,"wires":[["fb986f58.7b8a"]]},{"id":"fb986f58.7b8a","type":"function","z":"537d5b67.3676b4","name":"Waktu","func":"t = 1334473200000000000\nflow.set('t', t);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":860,"wires":[[]]},{"id":"e5465578.f78128","type":"function","z":"537d5b67.3676b4","g":"79b14b9d.c157a4","name":"model","func":"var model = msg.payload;\nglobal.set('model', model);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":106,"wires":[[]]},{"id":"a771d477.6597c8","type":"pythonshell in","z":"537d5b67.3676b4","g":"79b14b9d.c157a4","name":"learning","pyfile":"D:/15. DERARA/2. Fixed Code/Node Red/AMPDs/fhmmtrain_ampds.py","virtualenv":"","continuous":false,"stdInData":false,"x":370,"y":106,"wires":[["e5465578.f78128","a928e587.40f6f8"]]},{"id":"2b45b2d3.b8e01e","type":"inject","z":"537d5b67.3676b4","g":"79b14b9d.c157a4","name":"injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":106,"wires":[["a771d477.6597c8"]]},{"id":"41186d9b.1781e4","type":"comment","z":"537d5b67.3676b4","g":"79b14b9d.c157a4","name":"Learning FHMM","info":"","x":200,"y":46,"wires":[]},{"id":"a928e587.40f6f8","type":"json","z":"537d5b67.3676b4","g":"79b14b9d.c157a4","name":"","property":"payload","action":"","pretty":false,"x":530,"y":66,"wires":[["1802e9e1.4c28a6"]]},{"id":"1802e9e1.4c28a6","type":"debug","z":"537d5b67.3676b4","g":"79b14b9d.c157a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":66,"wires":[]},{"id":"deff32ce.810ba","type":"inject","z":"537d5b67.3676b4","name":"Injeksi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":860,"wires":[["4e2f3ed1.f3243"]]},{"id":"4e2f3ed1.f3243","type":"function","z":"537d5b67.3676b4","name":"cek waktu","func":"msg.payload = flow.get('t')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":860,"wires":[["b566164b.b73e38"]]},{"id":"b566164b.b73e38","type":"debug","z":"537d5b67.3676b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":860,"wires":[]},{"id":"9f1e3e28.0f25a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ampds","name":"","usetls":false,"tls":""},{"id":"83098f20.390cf","type":"mqtt-broker","z":"","name":"HiveMQ public MQTT broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]